%link(href="../layouts/base-layout.html" rel="import")

%link(href="../../paper-tabs/paper-tabs.html" rel="import")
%link(href="../../paper-input/paper-input.html" rel="import")
%link(href="../../paper-button/paper-button.html" rel="import")

%polymer-element(name="about-page" noscript=true)
    %template
        / smoosh
        %link(rel="stylesheet" href="../styles/about-page.css")
        / endsmoosh
        %base-layout
            #toolbar(tool=true)
                About DominoBase

            #header(header=true)
                .cover
                %paper-tabs(selected="0")
                    %paper-tab
                        %a(href="/about" is="pushstate-anchor") About DominoBase
                    %paper-tab
                        %a(href="/team" is="pushstate-anchor") Our Team
                    %paper-tab
                        %a(href="/press" is="pushstate-anchor") Press
                    %paper-tab
                        %a(href="/jobs" is="pushstate-anchor") Jobs

            %p.lead DominoBase is the best place to play dominoes with friends, co-workers, classmates, and complete strangers. Over six million people use DominoBase to build amazing things together.
