%link(href="../layouts/base-layout.html" rel="import")

%link(href="../../paper-tabs/paper-tabs.html" rel="import")
%link(href="../../paper-input/paper-input.html" rel="import")
%link(href="../../paper-button/paper-button.html" rel="import")

%polymer-element(name="about-page" noscript=true)
    %template
        / smoosh
        %link(rel="stylesheet" href="../styles/about-page.css")
        / endsmoosh
        %base-layout
            %span(title=true)
                DominoBase
                %core-icon(icon="chevron-right")
                About

            %paper-tabs(selected="0")
                %paper-tab
                    About DominoBase
                    %a(href="/about" is="pushstate-anchor")
                %paper-tab
                    Our Team
                    %a(href="/team" is="pushstate-anchor")
                %paper-tab
                    Press
                    %a(href="/press" is="pushstate-anchor")
                %paper-tab
                    Jobs
                    %a(href="/jobs" is="pushstate-anchor")

            .hero
                %h1.title About DominoBase
                %p.text DominoBase is the best place to play dominoes with friends, co-workers, classmates, and complete strangers. Over six million people use DominoBase to build amazing things together.
