%link(href="../layouts/base-layout.html" rel="import")

%link(href="../../dominoes-node/dominoes-node.html" rel="import")
%link(href="../../paper-input/paper-input.html" rel="import")

%link(href="../../emoji-icons/emoji-icons.html" rel="import")

%polymer-element(name="livegame-page" attributes="game id" constructor="LiveGamePage")
    %template
        / smoosh
        %link(rel="stylesheet" href="../styles/livegame-page.css")
        / endsmoosh
        %base-layout
            %span(title=true)
                Games
                %core-icon(icon="chevron-right")
                arkeros vs hopefulhazel
            .actions(actions=true)
                %paper-icon-button(icon="add" on-tap="{{toggleCreateGame}}" halign="right")
                %paper-icon-button(icon="search" halign="right")

            %div(layout=true horizontal=true)
                #leftbar(layout=true vertical=true flex=true)
                    .aspect-ratio169
                        %dominoes-node(board='{"tiles": [ [3, 3], [3, 6], [6, 0], [0, 3], [3, 2], [2, 4], [4, 6], [6, 6], [6, 5], [5, 1], [1, 6], [6, 2], [2, 0], [0, 5], [5, 5], [5, 3], [3, 1], [1, 1], [1, 2], [2, 5], [5, 4], [4, 3] ], "root": [1, 6]}' hands='[ [ [0, 0], [1, 0] ], [ [2, 2], [5, 5] ] ]')
                    %section
                        %h1 Final del campeonato mundial
                #rightbar(layout=true vertical=true)
                    #chat.card(layout=true vertical=true flex=true)
                        #messages(flex=true)
                            .message(layout=true horizontal=true)
                                %a.thumbnail(href="#")
                                    %img(src="https://lh3.googleusercontent.com/-HU7WoWTJ4s0/UvJSR6qW0kI/AAAAAAAAAG4/1VyCZ1yVHNw/w315-h316-no/942468_10201725807489308_1174446910_n.jpg")
                                .inline
                                    %a.author(href="#")
                                        arkeros
                                    hola
                            .message(layout=true horizontal=true)
                                %a.thumbnail(href="#")
                                    %img(src="http://profile.ak.fbcdn.net/hprofile-ak-frc3/t1.0-1/1939840_520061504778249_1525149753_a.jpg")
                                .inline(flex=true)
                                    %a.author(href="#") hopefulhazel
                                    eii
                            .message(layout=true horizontal=true)
                                %a.thumbnail(href="#")
                                    %img(src="https://lh3.googleusercontent.com/-HU7WoWTJ4s0/UvJSR6qW0kI/AAAAAAAAAG4/1VyCZ1yVHNw/w315-h316-no/942468_10201725807489308_1174446910_n.jpg")
                                .inline(flex=true)
                                    %a.author(href="#")='arkeros'
                                    voy a ganar jeje
                        %core-toolbar.actions
                            %paper-input(label="Write a message..." flex=true)
                            %paper-menu-button(icon="hardware:keyboard-alt")
                            %paper-icon-button(icon="send")

                    #log.card(flex=true)
                        eventos del juego...
                        %core-icon(icon='emoji:😄')
                        %core-icon(icon='emoji:😃')
                        %core-icon(icon='emoji:😊')
                        %core-icon(icon='emoji:two-women-with-heart')
                        %core-icon(icon='emoji:princess')
                        %core-icon(icon='emoji:couple-with-heart')
                        %core-icon(icon='emoji:Aries')
                        %core-icon(icon='emoji:kissing-smiling-eyes')
                        %core-icon(icon='emoji:wolf-face')
                        %core-icon(icon='emoji:Capricorn')
                        %core-icon(icon='emoji:sweat-smile')
                        %core-icon(icon='emoji:hushed')
                        %core-icon(icon='emoji:crescent-moon')
                        %core-icon(icon='emoji:gentleman-octopus')
                        %core-icon(icon='emoji:unamused')
                        %core-icon(icon='emoji:shit')
                        %core-icon(icon='emoji:satisfied')
                        %core-icon(icon='emoji:ghost')
                        %core-icon(icon='emoji:two-women-holding-hands')
                        %core-icon(icon='emoji:confused')
                        %core-icon(icon='emoji:microphone')
                        %core-icon(icon='emoji:crying-face')
                        %core-icon(icon='emoji:mount-fuji')
                        %core-icon(icon='emoji:apple-of-discord')
                        %core-icon(icon='emoji:oars')
                        %core-icon(icon='emoji:kissing-closed-eyes')
                        %core-icon(icon='emoji:white-smiling-face')
                        %core-icon(icon='emoji:relaxed')
                        %core-icon(icon='emoji:wink')
                        %core-icon(icon='emoji:hatching-chick')
                        %core-icon(icon='emoji:crying-cat-face')
                        %core-icon(icon='emoji:circled-ideograph-secret')
                        %core-icon(icon='emoji:person-bowing-deeply')
                        %core-icon(icon='emoji:mens-symbol')
                        %core-icon(icon='emoji:Leo')
                        %core-icon(icon='emoji:bento-box')
                        %core-icon(icon='emoji:Pisces')
                        %core-icon(icon='emoji:snake-alt')
                        %core-icon(icon='emoji:glowing-star')
                        %core-icon(icon='emoji:grin')
                        %core-icon(icon='emoji:smirk')
                        %core-icon(icon='emoji:dog-face')
                        %core-icon(icon='emoji:skull')
                        %core-icon(icon='emoji:tennis-racquet-and-ball')
                        %core-icon(icon='emoji:smiling-face')
                        %core-icon(icon='emoji:blush')
                        %core-icon(icon='emoji:astonished-face')
                        %core-icon(icon='emoji:ship')
                        %core-icon(icon='emoji:horse')
                        %core-icon(icon='emoji:spouting-whale')
                        %core-icon(icon='emoji:Sagittarius')
                        %core-icon(icon='emoji:paw-prints')
                        %core-icon(icon='emoji:octopus')
                        %core-icon(icon='emoji:pill')
                        %core-icon(icon='emoji:speak-no-evil-monkey')
                        %core-icon(icon='emoji:rice-ball')
                        %core-icon(icon='emoji:face-savouring-delicious-food')
                        %core-icon(icon='emoji:elephant')
                        %core-icon(icon='emoji:face-with-tear-of-joy')
                        %core-icon(icon='emoji:see-no-evil-monkey')
                        %core-icon(icon='emoji:cactus')
                        %core-icon(icon='emoji:lambda-chi-alpha')
                        %core-icon(icon='emoji:pizza')
                        %core-icon(icon='emoji:smiley-sleeping')
                        %core-icon(icon='emoji:penguin')
                        %core-icon(icon='emoji:quoll')
                        %core-icon(icon='emoji:snail')
                        %core-icon(icon='emoji:relieved')
                        %core-icon(icon='emoji:ninja')
                        %core-icon(icon='emoji:smiley')
                        %core-icon(icon='emoji:cat-face-with-tears-of-joy')
                        %core-icon(icon='emoji:rainbow')
                        %core-icon(icon='emoji:disappointed-face')
                        %core-icon(icon='emoji:two-women-in-love')
                        %core-icon(icon='emoji:last-quarter-moon')
                        %core-icon(icon='emoji:smiling-cat-face-with-open-mouth')
                        %core-icon(icon='emoji:new-moon')
                        %core-icon(icon='emoji:Virgo')
                        %core-icon(icon='emoji:tangerine')
                        %core-icon(icon='emoji:full-moon')
                        %core-icon(icon='emoji:dizzy-face')
                        %core-icon(icon='emoji:angry-face')
                        %core-icon(icon='emoji:frowning')
                        %core-icon(icon='emoji:shooting-star')
                        %core-icon(icon='emoji:person-raising-both-hands-in-celebration')
                        %core-icon(icon='emoji:person-frowning')
                        %core-icon(icon='emoji:sleeping')
                        %core-icon(icon='emoji:face-with-ok-gesture')
                        %core-icon(icon='emoji:sun')
                        %core-icon(icon='emoji:open-mouth')
                        %core-icon(icon='emoji:expressionless')
                        %core-icon(icon='emoji:face-with-medical-mask')
                        %core-icon(icon='emoji:loudly-crying-face')
                        %core-icon(icon='emoji:Gemini')
                        %core-icon(icon='emoji:bowtie')
                        %core-icon(icon='emoji:face-with-look-of-triumph')
                        %core-icon(icon='emoji:worried')
                        %core-icon(icon='emoji:chicken')
                        %core-icon(icon='emoji:grinning')
                        %core-icon(icon='emoji:fisted-hand-sign')
                        %core-icon(icon='emoji:thumbs-up-sign')
                        %core-icon(icon='emoji:bactrian-camel')
                        %core-icon(icon='emoji:family-daughters')
                        %core-icon(icon='emoji:speech-balloon')
                        %core-icon(icon='emoji:first-quarter-moon')
                        %core-icon(icon='emoji:smiley-confused')
                        %core-icon(icon='emoji:rainbow-solid')
                        %core-icon(icon='emoji:blowfish')
                        %core-icon(icon='emoji:flushed')
                        %core-icon(icon='emoji:smiley-kissing-heart')
                        %core-icon(icon='emoji:milky-way')
                        %core-icon(icon='emoji:Scorpius')
                        %core-icon(icon='emoji:fearful-face')
                        %core-icon(icon='emoji:extraterrestrial-alien')
                        %core-icon(icon='emoji:happy-person-raising-one-hand')
                        %core-icon(icon='emoji:disappointed-but-relieved-face')
                        %core-icon(icon='emoji:snake')
                        %core-icon(icon='emoji:bus-stop')
                        %core-icon(icon='emoji:weary-face')
                        %core-icon(icon='emoji:drunk')
                        %core-icon(icon='emoji:laughing')
                        %core-icon(icon='emoji:phone-book')
                        %core-icon(icon='emoji:sweat')
                        %core-icon(icon='emoji:puke')
                        %core-icon(icon='emoji:face-with-no-good-gesture')
                        %core-icon(icon='emoji:two-men-with-heart')
                        %core-icon(icon='emoji:wink2')
                        %core-icon(icon='emoji:pegasus-black')
                        %core-icon(icon='emoji:face-with-open-mouth-and-cold-sweat')
                        %core-icon(icon='emoji:anguished')
                        %core-icon(icon='emoji:victory-hand')
                        %core-icon(icon='emoji:sunrise-over-mountains')
                        %core-icon(icon='emoji:cat-face-with-wry-smile')
                        %core-icon(icon='emoji:boar')
                        %core-icon(icon='emoji:person-with-pouting-face')
                        %core-icon(icon='emoji:anchor')
                        %core-icon(icon='emoji:penguin-chick')
                        %core-icon(icon='emoji:family')
                        %core-icon(icon='emoji:couple-holding-hands')
                        %core-icon(icon='emoji:snowboarder')
                        %core-icon(icon='emoji:grinning-cat-face-with-smiling-eyes')
                        %core-icon(icon='emoji:grimacing')
                        %core-icon(icon='emoji:love-hotel')
                        %core-icon(icon='emoji:cutting-lines')
                        %core-icon(icon='emoji:video-game')
                        %core-icon(icon='emoji:hear-no-evil-monkey')
                        %core-icon(icon='emoji:weary-cat-face')
                        %core-icon(icon='emoji:wheelchair')
                        %core-icon(icon='emoji:monster')
                        %core-icon(icon='emoji:Libra')
                        %core-icon(icon='emoji:Charlie')
                        %core-icon(icon='emoji:pouting-cat-face')
                        %core-icon(icon='emoji:beer-mug')
                        %core-icon(icon='emoji:Taurus')
                        %core-icon(icon='emoji:smiley-smile')
                        %core-icon(icon='emoji:two-men-holding-hands')
                        %core-icon(icon='emoji:guitar')
                        %core-icon(icon='emoji:koala')
                        %core-icon(icon='emoji:kissing-cat-face-with-closed-eyes')
                        %core-icon(icon='emoji:persevering-face')
                        %core-icon(icon='emoji:kissing')
                        %core-icon(icon='emoji:electric-light-bulb')
                        %core-icon(icon='emoji:cloud')
                        %core-icon(icon='emoji:Aquarius')
                        %core-icon(icon='emoji:high-voltage-sign')
                        %core-icon(icon='emoji:waxing-gibbous-moon')
                        %core-icon(icon='emoji:jack-o-lantern')
                        %core-icon(icon='emoji:frog-face')
                        %core-icon(icon='emoji:scuba-diver')
                        %core-icon(icon='emoji:rainbow-sky')
                        %core-icon(icon='emoji:pouting-face')
                        %core-icon(icon='emoji:cat-face')
                        %core-icon(icon='emoji:sun-with-face')
                        %core-icon(icon='emoji:heart')
                        %core-icon(icon='emoji:no-one-under-eighteen-symbol')
                        %core-icon(icon='emoji:jumping-spider')
                        %core-icon(icon='emoji:poop')
                        %core-icon(icon='emoji:tropical-drink')
                        %core-icon(icon='emoji:hot-beverage')
                        %core-icon(icon='emoji:pensive-face')
                        %core-icon(icon='emoji:heart-eyes')
                        %core-icon(icon='emoji:fish-cake-with-swirl-design')
                        %core-icon(icon='emoji:kissing-heart')
                        %core-icon(icon='emoji:puke-finger')
                        %core-icon(icon='emoji:moon-with-face')
                        %core-icon(icon='emoji:smile')
                        %core-icon(icon='emoji:Happy-FMC')
    / smoosh
    %script(src="../scripts/livegame-page.js")
    / endsmoosh
