%link(href="../layouts/base-layout.html" rel="import")

%link(href="../../paper-tabs/paper-tabs.html" rel="import")
%link(href="../../paper-input/paper-input.html" rel="import")
%link(href="../../paper-button/paper-button.html" rel="import")

%polymer-element(name="player-page" attributes="slug" noscript=true)
    %template
        %base-layout(mode="waterfall-tall")
            %span.bottom(title=true flex=true) {{slug}}

            %core-scroll-header-panel(condenses=true)

            %p.lead DominoBase is the best place to play dominoes with friends, co-workers, classmates, and complete strangers. Over six million people use DominoBase to build amazing things together.
