<link href='material-layout.html' rel='import'>
<link href='../../core-icons/social-icons.html' rel='import'>
<link href='../../core-icons/hardware-icons.html' rel='import'>
<link href='../../core-icons/av-icons.html' rel='import'>
<link href='../../core-icons/device-icons.html' rel='import'>
<polymer-element attributes='mode' name='base-layout' noscript>
  <template>
    <material-layout mode='{{mode}}'>
      <core-menu menu selected='2'>
        <paper-item icon='home' label='Home'>
          <a href='/' is='pushstate-anchor'></a>
        </paper-item>
        <core-submenu icon='av:games' label='Games'>
          <paper-item icon='av:play-arrow' label='Waiting'>
            <a href='/games' is='pushstate-anchor'></a>
          </paper-item>
          <paper-item icon='hardware:tv' label='Started'>
            <a href='/games/1234' is='pushstate-anchor'></a>
          </paper-item>
          <paper-item icon='history' label='Finished'></paper-item>
        </core-submenu>
        <core-submenu icon='social:person' label='Players'>
          <paper-item icon='av:play-arrow' label='Online'>
            <a href='/players/arkeros' is='pushstate-anchor'></a>
          </paper-item>
          <paper-item icon='hardware:tv' label='Latest Players'></paper-item>
          <paper-item icon='history' label='Ranking'></paper-item>
        </core-submenu>
      </core-menu>
      <div footer>
        <p class='copyright'>Rafael Arquero Gimeno ©</p>
        <a href='/about' is='pushstate-anchor'>About</a>
        <a href='/blog' is='pushstate-anchor'>Blog</a>
        <a href='https://github.com/arkeros/dominobase'>Developers</a>
        <br>
        <a href='/privacy' is='pushstate-anchor'>Privacy</a>
        &
        <a href='/terms' is='pushstate-anchor'>Terms</a>
      </div>
      <content></content>
    </material-layout>
  </template>
</polymer-element>
