%link(rel="import" href="../polymer/polymer.html")

%polymer-element(name="dominobase-datasource" attributes="user" constructor="DominobaseDataSource")
    %template
        / smoosh
        %link(rel="stylesheet" href="styles/dominobase-datasource.css")
        / endsmoosh

    / smoosh
    %script(src="scripts/dominobase-datasource.js")
    / endsmoosh
