%link(rel="import" href="../polymer/polymer.html")

%link(href="../app-router/app-router.html" rel="import")
%link(href="../pushstate-anchor/pushstate-anchor.html" rel="import")
%link(href="strophe.html" rel="import")

%polymer-element(name="dominobase-app" attributes="user" constructor="DominobaseApp" on-google-signin-success="{{SignInGoogle}}")
    %template
        %app-router
            %app-route(path="/about" import="/bower_components/dominobase-elements/pages/about-page.html")
            %app-route(path="/contact" import="/bower_components/dominobase-elements/pages/contact-page.html")

            %app-route(path="/games" import="/bower_components/dominobase-elements/pages/games-page.html")
            %app-route(path="/games/:id" import="/bower_components/dominobase-elements/pages/livegame-page.html")

            %app-route(path="*" import="/bower_components/dominobase-elements/pages/not-found-page.html")
    / smoosh
    %script(src="scripts/dominobase-app.js")
    / endsmoosh
