%link(rel="import" href="../polymer/polymer.html")

%link(href="pages.html" rel="import")
%link(href="../app-router/app-router.html" rel="import")
%link(href="../pushstate-anchor/pushstate-anchor.html" rel="import")
%link(href="strophe.html" rel="import")

%polymer-element(name="dominobase-app" attributes="user" constructor="DominobaseApp" on-google-signin-success="{{SignInGoogle}}")
    %template
        %app-router
            %app-route(path="/" element="home-page")
            %app-route(path="/about" element="about-page")
            %app-route(path="/team" element="team-page")
            %app-route(path="/press" element="press-page")
            %app-route(path="/jobs" element="jobs-page")
            %app-route(path="/contact" element="contact-page")

            %app-route(path="/games" element="games-page")
            %app-route(path="/games/:id" element="livegame-page")

            %app-route(path="*" element="not-found-page")
    / smoosh
    %script(src="scripts/dominobase-app.js")
    / endsmoosh
