%link(href="pages/home-page.html" rel="import")
%link(href="pages/about-page.html" rel="import")
/ %link(href="pages/team-page.html" rel="import")
%link(href="pages/press-page.html" rel="import")
/ %link(href="pages/jobs-page.html" rel="import")
%link(href="pages/contact-page.html" rel="import")
%link(href="pages/games-page.html" rel="import")
%link(href="pages/livegame-page.html" rel="import")
%link(href="pages/not-found-page.html" rel="import")
