%link(rel="import" href="material-layout.html")

%link(href="../../core-icons/social-icons.html" rel="import")
%link(href="../../core-icons/hardware-icons.html" rel="import")
%link(href="../../core-icons/av-icons.html" rel="import")
%link(href="../../core-icons/device-icons.html" rel="import")

%polymer-element(name="base-layout" attributes="mode" noscript=true)
    %template
        %material-layout(mode="{{mode}}")
            %core-menu(navigation=true selected="2")
                %paper-item(label="Home" icon="home")
                    %a(href="/" is="pushstate-anchor")
                %core-submenu(label="Games" icon="av:games")
                    %paper-item(label="Waiting" icon="av:play-arrow")
                        %a(href="/games" is="pushstate-anchor")
                    %paper-item(label="Started" icon="hardware:tv")
                        %a(href="/games/1234" is="pushstate-anchor")
                    %paper-item(label="Finished" icon="history")
                %core-submenu(label="Players" icon="social:person")
                    %paper-item(label="Online" icon="av:play-arrow")
                        %a(href="/players/arkeros" is="pushstate-anchor")
                    %paper-item(label="Latest Players" icon="hardware:tv")
                    %paper-item(label="Ranking" icon="history")

            %footer
                %p.copyright Rafael Arquero Gimeno ©

                %a(href="/about" is="pushstate-anchor") About
                %a(href="/blog" is="pushstate-anchor") Blog
                %a(href="https://github.com/arkeros/dominobase") Developers
                %br/
                %a(href="/privacy" is="pushstate-anchor") Privacy
                &
                %a(href="/terms" is="pushstate-anchor") Terms

            %p
                {{scrollHeader}}

            %content
