%link(rel="import" href="../../polymer/polymer.html")

%link(href="../../font-roboto/roboto.html" rel="import")

%link(href="../../core-icons/social-icons.html" rel="import")
%link(href="../../core-icons/hardware-icons.html" rel="import")
%link(href="../../core-icons/av-icons.html" rel="import")
%link(href="../../core-icons/device-icons.html" rel="import")

%link(rel="import" href="../../core-scaffold/core-scaffold.html")
%link(rel="import" href="../../core-header-panel/core-header-panel.html")
%link(rel="import" href="../../core-scroll-header-panel/core-scroll-header-panel.html")
%link(rel="import" href="../../core-menu/core-menu.html")
%link(rel="import" href="../../core-menu/core-submenu.html")

%link(rel="import" href="../../paper-item/paper-item.html")
%link(href="../../paper-icon-button/paper-icon-button.html" rel="import")
%link(href="../../paper-menu-button/paper-menu-button.html" rel="import")

%link(href="../../google-signin/google-signin.html" rel="import")

%polymer-element(name="material-layout" attributes="user scrollHeader" extends="core-scaffold" noscript=true)
    %template
        / smoosh
        %link(rel="stylesheet" href="../styles/material-layout.css")
        / endsmoosh
        %core-drawer-panel#drawerPanel(narrow="{{narrow}}" drawerWidth="{{drawerWidth}}" rightDrawer="{{rightDrawer}}" responsiveWidth="{{responsiveWidth}}" disableSwipe="{{disableSwipe}}")
            %core-header-panel(drawer=true mode="seamed")
                %content(select="[header], header")
                %content(select="[navigation], nav")
                %content.footer(select="footer")


            %core-scroll-header-panel#headerPanel(main=true condenses=true)
                %core-toolbar#appbar(class="{{mode}}")
                    %template(if="{{ mode != 'tall' }}")
                        %core-icon-button#menuButton(icon="menu" on-tap="{{togglePanel}}")
                        #title(flex=true)
                            %content(select="[title]")
                        %content.actions(select="[actions]")
                        %paper-menu-button(icon="more-vert" halign="right")
                            %paper-item(label="Refresh")
                            %paper-item(label="Send feedback")
                                %a(href="/contact" is="pushstate-anchor")
                            %paper-item(label="Settings")
                            %paper-item(label="Help")
                                %a(href="/help" is="pushstate-anchor")
                            / %div Sign Out
                    %template(if="{{ mode == 'tall' }}")
                        %core-icon-button#menuButton(icon="menu" on-tap="{{togglePanel}}")
                        .clip(flex=true)
                        %content.actions(select="[actions]")
                        %paper-menu-button(icon="more-vert" halign="right")
                            %paper-item(label="Refresh")
                            %paper-item(label="Send feedback")
                                %a(href="/contact" is="pushstate-anchor")
                            %paper-item(label="Settings")
                            %paper-item(label="Help")
                                %a(href="/help" is="pushstate-anchor")
                            / %div Sign Out
                        #title.bottom.indent
                            %content(select="[title]")

                .content(layout=true vertical=true)
                    %content
